*.class

# Package Files #

*.war
*.ear
/bin/*
/gen/*
/*/bin/*
/*/gen/*
samples/advanced/.classpath
samples/advanced/.project
samples/advanced/.settings/org.eclipse.jdt.core.prefs
samples/advanced/bin/AndroidManifest.xml
samples/advanced/bin/Kidsplace_sdk_advancedActivity.apk
samples/advanced/bin/classes.dex
samples/advanced/bin/dexedLibs/annotations-57a1e70d824191a0488e59cdbc24d1dc.jar
samples/advanced/bin/dexedLibs/kidsplace_sdk-1d67fe82b6dc68d59635c7823b6c2a21.jar
samples/advanced/bin/res/crunch/drawable-hdpi/ic_launcher.png
samples/advanced/bin/res/crunch/drawable-ldpi/ic_launcher.png
samples/advanced/bin/res/crunch/drawable-mdpi/ic_launcher.png
samples/advanced/bin/res/crunch/drawable-xhdpi/ic_launcher.png
samples/advanced/bin/resources.ap_
samples/advanced/gen/com/kiddoware/kidsplace_sdk/samples/advanced/BuildConfig.java
samples/advanced/gen/com/kiddoware/kidsplace_sdk/samples/advanced/R.java
samples/advanced/res/xml/preferences.xml
samples/simple/.classpath
samples/simple/.project
samples/simple/.settings/org.eclipse.jdt.core.prefs
samples/simple/bin/AndroidManifest.xml
samples/simple/bin/Kidsplace_sdk_simpleActivity.apk
samples/simple/bin/classes.dex
samples/simple/bin/dexedLibs/annotations-57a1e70d824191a0488e59cdbc24d1dc.jar
samples/simple/bin/dexedLibs/kidsplace_sdk-3c18547cb9daf459f17ecd09f0d4631f.jar
samples/simple/bin/res/crunch/drawable-hdpi/ic_launcher.png
samples/simple/bin/res/crunch/drawable-ldpi/ic_launcher.png
samples/simple/bin/res/crunch/drawable-mdpi/ic_launcher.png
samples/simple/bin/res/crunch/drawable-xhdpi/ic_launcher.png
samples/simple/bin/resources.ap_
samples/simple/gen/com/kiddoware/kidsplace_sdk/samples/simple/BuildConfig.java
samples/simple/gen/com/kiddoware/kidsplace_sdk/samples/simple/R.java
